@charset "utf-8";
* {
    margin  : 0;
    padding : 0;
}

html, body {
    color     : #ffffff;
    font-size : 16px;
    font-size : 62.5%;
    height    : 100%;
}

header {
    display  : flex;
    justify-content: space-between;
    top      : 0;
    left     : 0;
    width    : 100%;
    z-index  : 1;
}

header nav {
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    justify-content : flex-start;
    align-items     : center;
    align-content   : center;
}

h1 {
    font-size : 32px;
    font-size : 3.2rem;
}

h2 {
    font-size : 24px;
    font-size : 2.4rem;
}

ul, li {
    font-size : 16px;
    font-size : 1.6rem;
    list-style: none;
}

a {
    color           : #ffffff;
    text-decoration : underline;
}

.center {
    text-align : center;
}

.bgbody {
    background      : url(../img/bg.jpg);
    background-size : 100% 100%;
    bottom          : 0;
    height          : 100%;
    left            : 0;
    position        : absolute;
    right           : 0;
    top             : 0;
    width           : 100%;
}

.mask {
    background : #000000;
    bottom     : 0;
    left       : 0;
    opacity    : 0.5;
    position   : absolute;
    right      : 0;
    top        : 0;
}

.company-name {
    display  : table-cell;
    padding  : 1rem;
}

.nav-link {
    display    : table-cell;
    text-align : right;
}

.nav-link li {
    display   : inline-block;
    font-size : 1.6rem;
    padding   : 1rem;
}

.center-message {
    margin-top : 25vh;
}

/* タブレット縦 */
@media screen and (max-width: 800px){
    /*.sp-hdn {
        display : none;
    }*/
}

/* スマホ 横 */
@media screen and (max-width: 768px){
    /* .sp-hdn {
        display : none;
    } */

    .center-message {
        margin-top : 10vh;
    }

}

/* スマホ 縦 */
@media screen and (max-width: 480px) {
    html, body {
        font-size : 58%;
    }
    .sp-hdn{
        display : none;
    }

    .center-message {
        margin-top : 15vh;
    }

}
